@import url('https://fonts.googleapis.com/css?family=Dokdo|Raleway');

:root {
    --primary-color: black;
    --secondary-color: white;
    font-family: 'Raleway', sans-serif;

    scroll-behavior: smooth;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1,
h2,
h3,
p,
div,
section,
main,
header {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    justify-content: center;
}

body .containermy {
    max-width: 1040px;
    min-width: 320px;
}

@media (min-width: 320px) {
    body .containermy {
        max-width: 320px;
    }
}

@media (min-width: 480px) {
    body .containermy {
        max-width: 440px;
    }
}

@media (min-width: 576px) {
    body .containermy {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    body .containermy {
        max-width: 720px;
    }
}

@media (min-width: 940px) {
    body .containermy {
        max-width: 910px;
    }
}

@media (min-width: 1040px) {
    body .containermy {
        max-width: 1020px;
    }
}

.containermy {
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-position: center;
}

.nav-pad {
    padding: 0 3px 0 3px;
}

.logoclock {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 78px auto;
    grid-gap: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*
header,
main #home,
main #aboutus main .option-list,
main .workproperties,
main .about {
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-position: center;
}*/

main .workproperties,
main .about {
    padding: 10px 0 10px 0;
    text-align: center;
}

main .workproperties {
    border-bottom: double;
}

header .logo,
header .logoShift {
    margin: 10px 10px 10px 10px;
    text-align: center;
    font-family: 'Dokdo', cursive;
    font-size: 2.2rem;
}

header .logo-style {
    margin: 10px 10px 10px 10px;
    text-align: center;
    font-family: 'Dokdo', cursive;
    font-size: 1.2rem;
}

header .banner-logo {
    position: relative;
    display: inline-block;
}

header .logo-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -100%, -140%);
    text-align: center;
}

.game-container {
    z-index: 7;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate( -50%, -50%);
    padding: 5px;
    background-color: black;
    border-radius: 10px;
}

.game-start-stop {
    display: grid;
    grid-template-rows: auto auto;
    grid-gap: 5px;
    justify-content: center;
}

.game-grid {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-gap: 4px;
    justify-content: center;
}



header .banner .slogan {
    text-align: center;
    font-size: 1.5rem;
    text-decoration: underline;
    margin: 5px 0px 30px 0px;
}

.worktext,
.aboutustext {
    margin: auto;
    padding: 10px;
    font-size: 3.2em;
}

@media (max-width: 767px) {
    header .banner .slogan {
        font-size: 1.4rem;
    }
}

@media (max-width: 575px) {
    header .banner .slogan {
        font-size: 1.2rem;
    }
    .worktext,
    .aboutustext {
        font-size: 1.8em;
    }
}

header nav ul li a:hover {
    text-decoration: underline;
}

header .banner img {
    display: block;
    width: 100%;
}

header .banner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: double;
}

main #home {
    padding: 10px 0 10px 0;
    display: grid;
    grid-template-rows: 7fr 2fr;
    grid-gap: 10px;
    border-bottom: double;
}

main #home .cardtext {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


main #home .home-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}

main #home img {
    display: block;
    width: 100%
}

main .aboutus {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    border-bottom: double;
}

@media (min-width: 1040px) {
    main .aboutus {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        border-bottom: double;
    }
}

main .aboutus img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 96%;
}

.aboutus p {
    font-size: 2.2rem;
}


@media (min-width: 1040px) {
    header .logo,
    header .logoShift {
        font-size: 3.2rem;
    }
}

@media (min-width: 1040px) {
    #home .cardtext {
        font-size: 2.2em;
    }
}

@media (max-width: 1039px) {
    .designate {
        font-size: 2.9em;
    }
    .cardtext {
        font-size: 2.2em;
    }
    .aboutus p {
        font-size: 2.9rem;
    }
}


@media (max-width: 939px) {
    .designate {
        font-size: 2.5em;
    }
    .cardtext {
        font-size: 2.0em;
    }
    .aboutus p {
        font-size: 2.5rem;
    }
}

@media (max-width: 767px) {
    .designate {
        font-size: 2.0em;
    }
    .cardtext {
        font-size: 1.6em;
    }
    .aboutus p {
        font-size: 2.0rem;
    }
}

@media (max-width: 575px) {
    .designate {
        font-size: 1.45em;
    }
    .cardtext {
        font-size: 1.25em;
    }
    .aboutus p {
        font-size: 1.45rem;
    }
}

@media (max-width: 479px) {
    .designate {
        font-size: 1.3em;
    }
    .cardtext {
        font-size: 1.11em;
    }
    .aboutus p {
        font-size: 1.3rem;
    }
}

@media (max-width: 319px) {
    .designate {
        font-size: 1.2em;
    }
    .cardtext {
        font-size: 1.0em;
    }
    .aboutus p {
        font-size: 1.2rem;
    }
}

main .option-list .option-card img {
    display: block;
    width: 100%;
}

main .option-list .option-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;

}

main .option-list {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media (min-width: 1040px) {
    main .option-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 10px;
    }
    main .option-list .option-card {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
}


main .down-box {
    padding: 40px 0px 40px 0px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: double;
}

main .contact-box {
    display: grid;
    grid-template-rows: 2fr 2fr;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main #contact {
    display: grid;
    grid-gap: 20px;

}

@media (max-width: 767px) {
    main .down-box {
        grid-template-rows: auto auto;
        grid-template-columns: 1fr;

    }
    main .contact-box {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }
}

footer {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    font-size: 1.5em;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fa-map-marker-alt {
    font-size: 70px;
}

.fa-clock {
    font-size: 60px;
}

.font-height {
    height: 70px;
}

@media (max-width: 939px) {
    footer {
        font-size: 1.4em;
    }
    .fa-map-marker-alt {
        font-size: 60px;
    }
    .fa-clock {
        font-size: 50px;
    }
    .font-height {
        height: 60px;
    }
}

@media (max-width: 767px) {
    footer {
        font-size: 1.3em;
    }
    .fa-map-marker-alt {
        font-size: 50px;
    }
    .fa-clock {
        font-size: 40px;
    }
    .font-height {
        height: 50px;
    }
}

@media (max-width: 575px) {
    footer {
        font-size: 1.0em;
    }
    .fa-map-marker-alt {
        font-size: 40px;
    }
    .fa-clock {
        font-size: 30px;
    }
    .font-height {
        height: 40px;
    }
}

.down-box-text-h {
    font-weight: 900;
    font-size: 2.0rem;
    color: white;
}

.down-box-text {
    font-weight: 700;
    font-size: 1.9rem;

}

main #contact h3 {
    font-size: 3.0rem;
}

@media (max-width: 1039px) {
    .down-box-text-h {
        font-size: 1.8rem;
    }

    .down-box-text {
        font-size: 1.7rem;
    }
    main #contact h3 {
        font-size: 2.4rem;
    }
    main .down-box {
        padding: 30px 0px 30px 0px;
    }
}


@media (max-width: 939px) {
    .down-box-text-h {
        font-size: 1.9rem;
    }

    .down-box-text {
        font-size: 1.4rem;
    }
    main #contact h3 {
        font-size: 2.1rem;
    }
    main .down-box {
        padding: 25px 0px 25px 0px;
    }
}

@media (max-width: 767px) {
    .down-box-text-h {
        font-size: 1.6rem;
    }

    .down-box-text {
        font-size: 1.8rem;
    }
    main #contact h3 {
        font-size: 2.4rem;
    }
    main .down-box {
        padding: 20px 0px 20px 0px;
    }
}

@media (max-width: 575px) {
    .down-box-text-h {
        font-size: 1.5rem;
    }

    .down-box-text {
        font-size: 1.5rem;
    }
    main #contact h3 {
        font-size: 2.1rem;
    }
    main .down-box {
        padding: 15px 0px 15px 0px;
    }
}


@media (max-width: 479px) {
    .down-box-text-h {
        font-size: 1.2rem;
    }
    .down-box-text {
        font-size: 1.1rem;
    }
    main .down-box {
        padding: 10px 0px 10px 0px;
    }
}



.copyright {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto auto;
    grid-gap: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
